body {
        background: rgb(8, 85, 30);
        color: rgb(0, 0, 0);
        padding: 50px auto;
        margin: 50px auto;
        text-align: center;
    }
            
.headline{
    border: 3px solid rgb(0, 0, 0); 
    background: rgb(137, 242, 158);    
    padding: 50px auto;
    margin: 50px auto; 
    width: 350px;
    font-family:Helvetica;
    text-align: center;
}
.box{
    border: outline-offset; rgb(0, 0, 0); 
    background: rgb(137, 242, 158);    
    font-family:Helvetica;
    padding: 10px auto;
    margin: 10px auto;
    text-align: center;
    width:200px;
    
}

.Total{
    background: rgb(240, 46, 46);    
    padding: 20px auto;
    margin: 10px auto; 
    font-family:Helvetica;
    text-align: center;
    color: white;
    width: 200px;

}